#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };

    default_layout: keymap_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Game Roy ADVANCE Default";
        transform = <&default_transform>;
        kscan = <&kscan0>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   50    0       0     0     0>
            , <&key_physical_attrs 100 100  150    0       0     0     0>
            , <&key_physical_attrs 100 100  250    0       0     0     0>
            , <&key_physical_attrs 100 100  350    0       0     0     0>
            , <&key_physical_attrs 100 100  450    0       0     0     0>
            , <&key_physical_attrs 100 100  550    0       0     0     0>
            , <&key_physical_attrs 100 100  650    0       0     0     0>
            , <&key_physical_attrs 100 100 1375    0       0     0     0>
            , <&key_physical_attrs 100 100 1475    0       0     0     0>
            , <&key_physical_attrs 100 100 1575    0       0     0     0>
            , <&key_physical_attrs 100 100 1675    0       0     0     0>
            , <&key_physical_attrs 100 100 1775    0       0     0     0>
            , <&key_physical_attrs 100 100 1875    0       0     0     0>
            , <&key_physical_attrs 200 100 1975    0       0     0     0>
            , <&key_physical_attrs 150 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  150  100       0     0     0>
            , <&key_physical_attrs 100 100  250  100       0     0     0>
            , <&key_physical_attrs 100 100  350  100       0     0     0>
            , <&key_physical_attrs 100 100  450  100       0     0     0>
            , <&key_physical_attrs 100 100  550  100       0     0     0>
            , <&key_physical_attrs 100 100  650  100       0     0     0>
            , <&key_physical_attrs 100 100  800  100       0     0     0>
            , <&key_physical_attrs 100 100  900  100       0     0     0>
            , <&key_physical_attrs 100 100 1100  100       0     0     0>
            , <&key_physical_attrs 100 100 1200  100       0     0     0>
            , <&key_physical_attrs 100 100 1375  100       0     0     0>
            , <&key_physical_attrs 100 100 1475  100       0     0     0>
            , <&key_physical_attrs 100 100 1575  100       0     0     0>
            , <&key_physical_attrs 100 100 1675  100       0     0     0>
            , <&key_physical_attrs 100 100 1775  100       0     0     0>
            , <&key_physical_attrs 100 100 1875  100       0     0     0>
            , <&key_physical_attrs 100 100 1975  100       0     0     0>
            , <&key_physical_attrs 150 100 2075  100       0     0     0>
            , <&key_physical_attrs 175 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  175  200       0     0     0>
            , <&key_physical_attrs 100 100  275  200       0     0     0>
            , <&key_physical_attrs 100 100  375  200       0     0     0>
            , <&key_physical_attrs 100 100  475  200       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  800  200       0     0     0>
            , <&key_physical_attrs 100 100  900  200       0     0     0>
            , <&key_physical_attrs 100 100 1100  200       0     0     0>
            , <&key_physical_attrs 100 100 1200  200       0     0     0>
            , <&key_physical_attrs 100 100 1400  200       0     0     0>
            , <&key_physical_attrs 100 100 1500  200       0     0     0>
            , <&key_physical_attrs 100 100 1600  200       0     0     0>
            , <&key_physical_attrs 100 100 1700  200       0     0     0>
            , <&key_physical_attrs 100 100 1800  200       0     0     0>
            , <&key_physical_attrs 100 100 1900  200       0     0     0>
            , <&key_physical_attrs 225 100 2000  200       0     0     0>
            , <&key_physical_attrs 225 100    0  300       0     0     0>
            , <&key_physical_attrs 100 100  225  300       0     0     0>
            , <&key_physical_attrs 100 100  325  300       0     0     0>
            , <&key_physical_attrs 100 100  425  300       0     0     0>
            , <&key_physical_attrs 100 100  525  300       0     0     0>
            , <&key_physical_attrs 100 100  625  300       0     0     0>
            , <&key_physical_attrs 100 100  800  300       0     0     0>
            , <&key_physical_attrs 100 100  900  300       0     0     0>
            , <&key_physical_attrs 100 100 1100  300       0     0     0>
            , <&key_physical_attrs 100 100 1200  300       0     0     0>
            , <&key_physical_attrs 100 100 1350  300       0     0     0>
            , <&key_physical_attrs 100 100 1450  300       0     0     0>
            , <&key_physical_attrs 100 100 1550  300       0     0     0>
            , <&key_physical_attrs 100 100 1650  300       0     0     0>
            , <&key_physical_attrs 100 100 1750  300       0     0     0>
            , <&key_physical_attrs 100 100 1850  300       0     0     0>
            , <&key_physical_attrs 275 100 1950  300       0     0     0>
            , <&key_physical_attrs 125 100   50  400       0     0     0>
            , <&key_physical_attrs 125 100  175  400       0     0     0>
            , <&key_physical_attrs 125 100  300  400       0     0     0>
            , <&key_physical_attrs 125 100  425  400       0     0     0>
            , <&key_physical_attrs 125 100  460  640 (-5500)   430   455>
            , <&key_physical_attrs 125 100 1440  395    5500  1390   395>
            , <&key_physical_attrs 125 100 1675  400       0     0     0>
            , <&key_physical_attrs 125 100 1800  400       0     0     0>
            , <&key_physical_attrs 125 100 1925  400       0     0     0>
            , <&key_physical_attrs 125 100 2050  400       0     0     0>
            , <&key_physical_attrs 150 100  410  740 (-5500)   430   455>
            , <&key_physical_attrs 100 100  560  740 (-5500)   430   455>
            , <&key_physical_attrs 100 100 1290  428    5500  1290   428>
            , <&key_physical_attrs 150 100 1390  428    5500  1290   428>
            ;
    };

 SplitBS_layout: keymap_layout_1 {
        compatible = "zmk,physical-layout";
        display-name = "Game Roy ADVANCE Split BS";
        transform = <&SplitBS_transform>;
        kscan = <&SplitBS_kscan0>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   50    0       0     0     0>
            , <&key_physical_attrs 100 100  150    0       0     0     0>
            , <&key_physical_attrs 100 100  250    0       0     0     0>
            , <&key_physical_attrs 100 100  350    0       0     0     0>
            , <&key_physical_attrs 100 100  450    0       0     0     0>
            , <&key_physical_attrs 100 100  550    0       0     0     0>
            , <&key_physical_attrs 100 100  650    0       0     0     0>
            , <&key_physical_attrs 100 100 1375    0       0     0     0>
            , <&key_physical_attrs 100 100 1475    0       0     0     0>
            , <&key_physical_attrs 100 100 1575    0       0     0     0>
            , <&key_physical_attrs 100 100 1675    0       0     0     0>
            , <&key_physical_attrs 100 100 1775    0       0     0     0>
            , <&key_physical_attrs 100 100 1875    0       0     0     0>
            , <&key_physical_attrs 100 100 1975    0       0     0     0>
            , <&key_physical_attrs 100 100 2075    0       0     0     0>
            , <&key_physical_attrs 150 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  150  100       0     0     0>
            , <&key_physical_attrs 100 100  250  100       0     0     0>
            , <&key_physical_attrs 100 100  350  100       0     0     0>
            , <&key_physical_attrs 100 100  450  100       0     0     0>
            , <&key_physical_attrs 100 100  550  100       0     0     0>
            , <&key_physical_attrs 100 100  650  100       0     0     0>
            , <&key_physical_attrs 100 100  800  100       0     0     0>
            , <&key_physical_attrs 100 100  900  100       0     0     0>
            , <&key_physical_attrs 100 100 1100  100       0     0     0>
            , <&key_physical_attrs 100 100 1200  100       0     0     0>
            , <&key_physical_attrs 100 100 1375  100       0     0     0>
            , <&key_physical_attrs 100 100 1475  100       0     0     0>
            , <&key_physical_attrs 100 100 1575  100       0     0     0>
            , <&key_physical_attrs 100 100 1675  100       0     0     0>
            , <&key_physical_attrs 100 100 1775  100       0     0     0>
            , <&key_physical_attrs 100 100 1875  100       0     0     0>
            , <&key_physical_attrs 100 100 1975  100       0     0     0>
            , <&key_physical_attrs 150 100 2075  100       0     0     0>
            , <&key_physical_attrs 175 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  175  200       0     0     0>
            , <&key_physical_attrs 100 100  275  200       0     0     0>
            , <&key_physical_attrs 100 100  375  200       0     0     0>
            , <&key_physical_attrs 100 100  475  200       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  800  200       0     0     0>
            , <&key_physical_attrs 100 100  900  200       0     0     0>
            , <&key_physical_attrs 100 100 1100  200       0     0     0>
            , <&key_physical_attrs 100 100 1200  200       0     0     0>
            , <&key_physical_attrs 100 100 1400  200       0     0     0>
            , <&key_physical_attrs 100 100 1500  200       0     0     0>
            , <&key_physical_attrs 100 100 1600  200       0     0     0>
            , <&key_physical_attrs 100 100 1700  200       0     0     0>
            , <&key_physical_attrs 100 100 1800  200       0     0     0>
            , <&key_physical_attrs 100 100 1900  200       0     0     0>
            , <&key_physical_attrs 225 100 2000  200       0     0     0>
            , <&key_physical_attrs 125 100    0  300       0     0     0>
            , <&key_physical_attrs 100 100  125  300       0     0     0>
            , <&key_physical_attrs 100 100  225  300       0     0     0>
            , <&key_physical_attrs 100 100  325  300       0     0     0>
            , <&key_physical_attrs 100 100  425  300       0     0     0>
            , <&key_physical_attrs 100 100  525  300       0     0     0>
            , <&key_physical_attrs 100 100  625  300       0     0     0>
            , <&key_physical_attrs 100 100  800  300       0     0     0>
            , <&key_physical_attrs 100 100  900  300       0     0     0>
            , <&key_physical_attrs 100 100 1100  300       0     0     0>
            , <&key_physical_attrs 100 100 1200  300       0     0     0>
            , <&key_physical_attrs 100 100 1350  300       0     0     0>
            , <&key_physical_attrs 100 100 1450  300       0     0     0>
            , <&key_physical_attrs 100 100 1550  300       0     0     0>
            , <&key_physical_attrs 100 100 1650  300       0     0     0>
            , <&key_physical_attrs 100 100 1750  300       0     0     0>
            , <&key_physical_attrs 100 100 1850  300       0     0     0>
            , <&key_physical_attrs 175 100 1950  300       0     0     0>
            , <&key_physical_attrs 100 100 2125  300       0     0     0>
            , <&key_physical_attrs 125 100   50  400       0     0     0>
            , <&key_physical_attrs 125 100  175  400       0     0     0>
            , <&key_physical_attrs 125 100  300  400       0     0     0>
            , <&key_physical_attrs 125 100  425  400       0     0     0>
            , <&key_physical_attrs 125 100  460  640 (-5500)   430   455>
            , <&key_physical_attrs 125 100 1440  395    5500  1390   395>
            , <&key_physical_attrs 125 100 1675  400       0     0     0>
            , <&key_physical_attrs 125 100 1800  400       0     0     0>
            , <&key_physical_attrs 125 100 1925  400       0     0     0>
            , <&key_physical_attrs 125 100 2050  400       0     0     0>
            , <&key_physical_attrs 150 100  410  740 (-5500)   430   455>
            , <&key_physical_attrs 100 100  560  740 (-5500)   430   455>
            , <&key_physical_attrs 100 100 1290  428    5500  1290   428>
            , <&key_physical_attrs 150 100 1390  428    5500  1290   428>
            ;
    };

     Outtatim_layout: keymap_layout_2 {
        compatible = "zmk,physical-layout";
        display-name = "Game Roy ADVANCE Outtatim";
        transform = <&SplitBS_transform>;
        kscan = <&SplitBS_kscan0>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   50    0       0     0     0>
            , <&key_physical_attrs 100 100  150    0       0     0     0>
            , <&key_physical_attrs 100 100  250    0       0     0     0>
            , <&key_physical_attrs 100 100  350    0       0     0     0>
            , <&key_physical_attrs 100 100  450    0       0     0     0>
            , <&key_physical_attrs 100 100  550    0       0     0     0>
            , <&key_physical_attrs 100 100  650    0       0     0     0>
            , <&key_physical_attrs 100 100 1375    0       0     0     0>
            , <&key_physical_attrs 100 100 1475    0       0     0     0>
            , <&key_physical_attrs 100 100 1575    0       0     0     0>
            , <&key_physical_attrs 100 100 1675    0       0     0     0>
            , <&key_physical_attrs 100 100 1775    0       0     0     0>
            , <&key_physical_attrs 100 100 1875    0       0     0     0>
            , <&key_physical_attrs 100 100 1975    0       0     0     0>
            , <&key_physical_attrs 100 100 2075    0       0     0     0>
            , <&key_physical_attrs 150 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  150  100       0     0     0>
            , <&key_physical_attrs 100 100  250  100       0     0     0>
            , <&key_physical_attrs 100 100  350  100       0     0     0>
            , <&key_physical_attrs 100 100  450  100       0     0     0>
            , <&key_physical_attrs 100 100  550  100       0     0     0>
            , <&key_physical_attrs 100 100  650  100       0     0     0>
            , <&key_physical_attrs 100 100  800  100       0     0     0>
            , <&key_physical_attrs 100 100  900  100       0     0     0>
            , <&key_physical_attrs 100 100 1100  100       0     0     0>
            , <&key_physical_attrs 100 100 1200  100       0     0     0>
            , <&key_physical_attrs 100 100 1375  100       0     0     0>
            , <&key_physical_attrs 100 100 1475  100       0     0     0>
            , <&key_physical_attrs 100 100 1575  100       0     0     0>
            , <&key_physical_attrs 100 100 1675  100       0     0     0>
            , <&key_physical_attrs 100 100 1775  100       0     0     0>
            , <&key_physical_attrs 100 100 1875  100       0     0     0>
            , <&key_physical_attrs 100 100 1975  100       0     0     0>
            , <&key_physical_attrs 150 100 2075  100       0     0     0>
            , <&key_physical_attrs 175 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  175  200       0     0     0>
            , <&key_physical_attrs 100 100  275  200       0     0     0>
            , <&key_physical_attrs 100 100  375  200       0     0     0>
            , <&key_physical_attrs 100 100  475  200       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  800  200       0     0     0>
            , <&key_physical_attrs 100 100  900  200       0     0     0>
            , <&key_physical_attrs 100 100 1100  200       0     0     0>
            , <&key_physical_attrs 100 100 1200  200       0     0     0>
            , <&key_physical_attrs 100 100 1400  200       0     0     0>
            , <&key_physical_attrs 100 100 1500  200       0     0     0>
            , <&key_physical_attrs 100 100 1600  200       0     0     0>
            , <&key_physical_attrs 100 100 1700  200       0     0     0>
            , <&key_physical_attrs 100 100 1800  200       0     0     0>
            , <&key_physical_attrs 100 100 1900  200       0     0     0>
            , <&key_physical_attrs 225 100 2000  200       0     0     0>
            , <&key_physical_attrs 225 100    0  300       0     0     0>
            , <&key_physical_attrs 100 100  225  300       0     0     0>
            , <&key_physical_attrs 100 100  325  300       0     0     0>
            , <&key_physical_attrs 100 100  425  300       0     0     0>
            , <&key_physical_attrs 100 100  525  300       0     0     0>
            , <&key_physical_attrs 100 100  625  300       0     0     0>
            , <&key_physical_attrs 100 100  800  300       0     0     0>
            , <&key_physical_attrs 100 100  900  300       0     0     0>
            , <&key_physical_attrs 100 100 1100  300       0     0     0>
            , <&key_physical_attrs 100 100 1200  300       0     0     0>
            , <&key_physical_attrs 100 100 1350  300       0     0     0>
            , <&key_physical_attrs 100 100 1450  300       0     0     0>
            , <&key_physical_attrs 100 100 1550  300       0     0     0>
            , <&key_physical_attrs 100 100 1650  300       0     0     0>
            , <&key_physical_attrs 100 100 1750  300       0     0     0>
            , <&key_physical_attrs 100 100 1850  300       0     0     0>
            , <&key_physical_attrs 175 100 1950  300       0     0     0>
            , <&key_physical_attrs 100 100 2125  300       0     0     0>
            , <&key_physical_attrs 125 100   50  400       0     0     0>
            , <&key_physical_attrs 125 100  175  400       0     0     0>
            , <&key_physical_attrs 125 100  300  400       0     0     0>
            , <&key_physical_attrs 125 100  425  400       0     0     0>
            , <&key_physical_attrs 125 100  460  640 (-5500)   430   455>
            , <&key_physical_attrs 125 100 1440  395    5500  1390   395>
            , <&key_physical_attrs 125 100 1675  400       0     0     0>
            , <&key_physical_attrs 125 100 1800  400       0     0     0>
            , <&key_physical_attrs 125 100 1925  400       0     0     0>
            , <&key_physical_attrs 125 100 2050  400       0     0     0>
            , <&key_physical_attrs 150 100  410  740 (-5500)   430   455>
            , <&key_physical_attrs 100 100  560  740 (-5500)   430   455>
            , <&key_physical_attrs 100 100 1290  428    5500  1290   428>
            , <&key_physical_attrs 150 100 1390  428    5500  1290   428>
            ;
    };
};

/ {
    game_roy_advance_position_map1 {
        compatible = "zmk,physical-layout-position-map";
        complete;

        default_map: default {
            physical-layout = <&default_layout>;
            positions
                = < 13 84 50 85 66 86 >;

        };

        SplitBS_map: SplitBS {
            physical-layout = <&SplitBS_layout>;
            positions
                = < 13 14 51 52 68 69 >;
        };

        Outtatim_map: Outtatim {
            physical-layout = <&Outtatim_layout>;
            positions
                = < 13 14 50 85 67 68 >;
        };
    };
};